<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
        <add name="DefaultConnection"
			 providerName="System.Data.SqlClient"
			 connectionString="(local)\\SQLEXPRESS; User Id = 'ASP_BASE_ADMIN';Password = 'hackOFF1';Initial Catalog = CourseProject2CS;MultipleActiveResultSets=True;TrustServerCertificate=True;"/>
	</connectionStrings>
</configuration>

<!--Server = (local)\\SQLEXPRESS; User Id = 'ASP_BASE_ADMIN';Password = 'hackOFF1';Initial Catalog = ASP_BASE;MultipleActiveResultSets=True;TrustServerCertificate=True;-->